[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Google_Tests/lib/googletest"]
	path = Google_Tests/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/matplotlib-cpp"]
	path = lib/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
